doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title EduGuide - Your study pal!
    
    link(href='/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(rel='icon', type='image/ico', href='/img/logo.png')
    link(href='/vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='/vendor/simple-line-icons/css/simple-line-icons.css', rel='stylesheet')
   
    link(href='/css/stylish-portfolio.min.css', rel='stylesheet')
    style.
      .backgroundRest{
      background-attachment:fixed;
      background-repeat: no-repeat;
      background:url('/img/bb3.jpg');
      }
      .navbar {
      overflow: visible;
      background-color: black;
      opacity: 0.8;
      }
     * {
        box-sizing: border-box;
      }   
     #myInput {
     background-image: url('/img/search.png');
     background-position: 10px 12px;
     background-repeat: no-repeat;
     width: 100%;
     font-size: 16px;
     padding: 12px 20px 12px 40px;
     border: 1px solid #ddd;
     margin-bottom: 12px;
     }
     ul.breadcrumb {
      padding: 10px 16px;
      list-style: none;
      background-color: black;
      opacity: 0.4;
     }
      ul.breadcrumb li {
      display: inline;
      font-size: 18px;
      color: white;
     }
     ul.breadcrumb li+li:before {
      padding: 8px;
      color: white;
      content: "/\00a0";
     }
     ul.breadcrumb li a {
      color: #0275d8;
      text-decoration: none;
     }
     ul.breadcrumb li a:hover {
      color: #42b9f4;
      text-decoration: underline;
     }
     .bg-light{
         opacity: 0.8;
     }

    script.
        function myFunction() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        ul = document.getElementById("searchThis");
        li = ul.getElementsByTagName("a");
        for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("h1")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
        } else {
        li[i].style.display = "none";
        }
        }
        }
  body#page-top.backgroundRest
    nav.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-dark.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href='/university')
          img.img-fluid.rounded-circle(src='/img/logo32.png', alt='EduGuide Logo')
        b
          a.navbar-brand.js-scroll-trigger(href='/university') EDUGUIDE
        button.navbar-toggler.navbar-toggler-right(style="color:white",type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              b
                a.nav-link(href='/university') DASHBOARD
            li.nav-item.dropdown
              b
                a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | DOCUMENTS
                .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownPortfolio')
                  a.dropdown-item(href='/upload') UPLOAD
                  a.dropdown-item(href='/saved') SAVED 
            li.nav-item.dropdown
              b
                a#navbarDropdownBlog.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | PROFILE
                .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownBlog')
                  a.dropdown-item(href='/profile/'+userID) MY PROFILE
                  a.dropdown-item(href='/edit') EDIT PROFILE
            li.nav-item
              b
                a.nav-link(href='/') LOGOUT            

    section#portfolio.content-section
      .container
        .content-section-heading.text-center
          h1.mb-1(style="color:white;display:inline-block") DOCUMENTS
          br
          br
          ul.breadcrumb
            li
              a(href='/university') UNIVERSITY: 
                =uniName
            li
              a(href="/university/"+ uniID + "/department") DEPARTMENT: 
                =deptName
            li
              a(href="/university/"+ uniID + "/department/"+ departmentid +"/course") COURSE: 
                =courseName
            li DOCUMENTS
          br
          br

        
        .container.bg-light  
            br     
            #accordion.panel-group
                .panel.panel-default
                .panel-heading
                    h2.panel-title
                    .bg-light
                        a(data-toggle='collapse', data-parent='#accordion', href='#collapse1') QUIZZES
                        hr
                #collapse1.panel-collapse.collapse.in
                    .panel-body
                      -var index=0;
                      each entry in documents
                        if (entry.type.toString()=="Quiz")
                          .col-lg-12
                            a(href="/document/"+entry._id)
                              span.caption(style="color:#4db8ff")
                                span.caption-content
                                  h3
                                    b
                                      =entry.documentName
                                  p.mb-0 UPLOADER:   
                                    |  
                                    =name
                              iframe(src="/images/"+ entry.path, type='application/pdf', width='100%', height='100%')
                              br
                              hr
                      -index++;
                
                .panel.panel-default
                .panel-heading
                    h2.panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapse2') ASSIGNMENTS
                    hr
                #collapse2.panel-collapse.collapse
                    .panel-body
                      -var index2=0;
                        each entry in documents
                          if (entry.type.toString()=="Assignment")
                            .col-lg-12
                              a(href="/document/"+entry._id)
                                span.caption(style="color:#4db8ff")
                                  span.caption-content
                                    h3
                                      b
                                        =entry.documentName
                                    p.mb-0 UPLOADER:   
                                      |  
                                      =name
                                iframe(src="/images/"+ entry.path, type='application/pdf', width='100%', height='100%')
                                br
                                hr
                        -index2++;
                
                .panel.panel-default
                .panel-heading
                    h2.panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapse3') PAST PAPERS
                    hr
                #collapse3.panel-collapse.collapse
                    .panel-body
                      -var index3=0;
                          each entry in documents
                            if (entry.type.toString()=="Past Paper")
                              .col-lg-12
                                a(href="/document/"+entry._id)
                                  span.caption(style="color:#4db8ff")
                                    span.caption-content
                                      h3
                                        b
                                          =entry.documentName
                                      p.mb-0 UPLOADER:   
                                        |  
                                        =name
                                  iframe(src="/images/"+ entry.path, type='application/pdf', width='100%', height='100%')
                                  br
                                  hr
                          -index3++;
                br
                
            
    section#contact.map
      iframe(width='100%', height='100%', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3402.5690695956723!2d74.30183217906031!3d31.48103838708532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391903f08ebc7e8b%3A0x47e934f4cd34790!2sFAST+NUCES!5e0!3m2!1sen!2s!4v1555166192960!5m2!1sen!2s')
      br
      small
        a(href='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3402.5690695956723!2d74.30183217906031!3d31.48103838708532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391903f08ebc7e8b%3A0x47e934f4cd34790!2sFAST+NUCES!5e0!3m2!1sen!2s!4v1555166192960!5m2!1sen!2s')
    footer.footer.text-center
      .container
        ul.list-inline.mb-5
          li.list-inline-item
            a.social-link.rounded-circle.text-white.mr-3(href='https://www.facebook.com/meharfatimakhan4')
              i.icon-social-facebook
          li.list-inline-item
            a.social-link.rounded-circle.text-white.mr-3(href='https://www.instagram.com/meharfatimakhan/?hl=en')
              i.icon-social-instagram
          li.list-inline-item
            a.social-link.rounded-circle.text-white(href='https://github.com/meharfatimakhan')
              i.icon-social-github
        p.small.mb-0(style="color:white") Copyright © EduGuide 2019. All Rights Reserved.
    
    a.scroll-to-top.rounded.js-scroll-trigger(href='#page-top')
      i.fas.fa-angle-up
    
    script(src='/vendor/jquery/jquery.min.js')
    script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
    script(src='/vendor/jquery-easing/jquery.easing.min.js')
    script(src='/js/stylish-portfolio.min.js')
