doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title EduGuide - Your study pal!
    
    link(href='/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(rel='icon', type='image/ico', href='/img/logo.png')
    link(href='/vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='/vendor/simple-line-icons/css/simple-line-icons.css', rel='stylesheet')
    link(href='/css/stylish-portfolio.min.css', rel='stylesheet')
    
    style.
      .backgroundRest{
      background-attachment:fixed;
      background-repeat: no-repeat;
      background:url('img/bb3.jpg');
      }
     #upload{
      display:none;
      }
      .navbar {
      overflow: hidden;
      background-color: black;
      opacity: 0.5;
      }
    script.
      function myFunction() {
      var x, text;
      x = document.getElementById("upload").value;
      if (x="") {
        text = "Upload Image!";
      } else {
        text = "Upload Image!";
      }
      document.getElementById("demo").innerHTML = text;

      if (document.getElementById("uniName").selectedIndex == 0) {
                alert("Please select a university or department!")
                
            } else {
                document.getElementById("sub").submit();
            }
     }
      document.getElementById("uniName").selectedIndex = "0";
      
  body#page-top.backgroundRest
    nav.navbar.navbar-expand-lg.navbar-light.navbar-custom.fixed-top
      .container 
        a.navbar-brand.js-scroll-trigger(href='#page-top')
          img.img-fluid.rounded-circle(src='/img/logo32.png', alt='EduGuide Logo')
        b
          a.navbar-brand.js-scroll-trigger(href='#page-top') EDUGUIDE
        
        button.navbar-toggler.navbar-toggler-right(style="color:white",type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto.my-2.my-lg-0
            li.nav-item
              b
                a.nav-link.js-scroll-trigger(href='#page-top') SIGNUP
            li.nav-item
              b
                a.nav-link.js-scroll-trigger(href="/") LOGIN
            li.nav-item
              b
                a.nav-link.js-scroll-trigger(href='#services') SERVICES
            li.nav-item
              b
                a.nav-link.js-scroll-trigger(href='#contact') CONTACT
    br
    br
    br
    br
    br
    br
    br
    section
      .container.text-center.my-auto
        h2.mb-1(style="color:#4db8ff;display:inline-block") SIGN UP
        .header-content.mx-auto
            if errors
                each error,i in errors
                    div.alert.alert-danger #{error.msg}
            h6.mb-3
                br
                form.form-horizontal(method='post',action='/signup',enctype='multipart/form-data',role='form',id='frm')
                  .form-group(style='color:white')
                      h4(style='color:#4db8ff')
                        span#checking()
                        br
                        p
                      h6(align='left') USERNAME:
                      .input-group.mb-3
                        .input-group-prepend
                      input.form-control(name='username', id='username', minlength=4, type='text', placeholder='Enter username', aria-label='Username', aria-describedby='basic-addon1', required='')
                  .form-group(style='color:white')
                      h6(align='left') FULL NAME:
                      .input-group.mb-3
                        .input-group-prepend
                      input.form-control(name='fullName', type='text', placeholder='Enter your full name', aria-label='FullName', aria-describedby='basic-addon1', required='')
                      
                  .form-group(style='color:white')
                      h6(align='left') UNIVERSITY NAME:
                      .input-group.mb-3
                        .input-group-prepend
                      select.form-control#uniName(name='universityName')
                        option(disabled='', selected='', value='0' required)  Select University..
                        -var index=0;
                        each entry in saarayUnis
                          option(value=entry._id, name='universityName') 
                            =entry.universityName
                        -index++;
                      //-input.form-control(name='universityName',type='text', placeholder='Enter your university name', aria-label='University Name', aria-describedby='basic-addon1') 
                  .form-group(style='color:white')
                      h6(align='left') DEPARTMENT NAME:
                      .input-group.mb-3
                        .input-group-prepend
                      select.form-control#deptName(name='departmentName')
                        option(disabled='', selected='',value='0' required)  Select Department..
                      //-input.form-control(name='departmentName',type='text', placeholder='Enter your department name', aria-label='Department Name', aria-describedby='basic-addon1')
                  .form-group(style='color:white')
                      h6(align='left') ROLL NUMBER:
                      .input-group.mb-3
                        .input-group-prepend
                      input.form-control(name='rollNumber',type='text', placeholder='Enter your roll number', aria-label='Roll Number', aria-describedby='basic-addon1')
                  .form-group(style='color:white')
                      h6(align='left') BATCH:
                      .input-group.mb-3
                      .input-group-prepend
                      input.form-control(name='batch',type='text', placeholder='Enter your batch year', aria-label='Batch', aria-describedby='basic-addon1')
                  .form-group(style='color:white')
                      h6(align='left') PASSWORD:
                      .input-group.mb-3
                        .input-group-prepend
                      input.form-control(id= 'password', name='password', minlength=5,type='password', placeholder='Enter Password', aria-label='Password', aria-describedby='basic-addon1', required='')
                  .form-group(style='color:white')
                      h6(align='left') CONFIRM PASSWORD:
                      .input-group.mb-3
                        .input-group-prepend
                      input.form-control(id='confirmPassword',name='confirmPassword', minlength=5, type='password', placeholder='Confirm Password', aria-label='Confirm Password', aria-describedby='basic-addon1', required='')
                      h4
                        span#message

                  .form-group
                      input#upload(name='profilePicture',type='file',accept="image/*" required)
                      a#uploadMyFile1.btn.btn-primary.btn-xl.js-scroll-trigger(href='') UPLOAD
                      h5
                        span#demo
                      br
                      br
                      input.btn-primary.btn-xl.js-scroll-trigger(id='sub', type='submit',disabled='', name='submit',value='REGISTER',style="color:white",onclick="myFunction()")
                 

      .overlay
    
    
    section#contact.map
      iframe(width='100%', height='100%', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3402.5690695956723!2d74.30183217906031!3d31.48103838708532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391903f08ebc7e8b%3A0x47e934f4cd34790!2sFAST+NUCES!5e0!3m2!1sen!2s!4v1555166192960!5m2!1sen!2s')
      br
      small
        a(href='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3402.5690695956723!2d74.30183217906031!3d31.48103838708532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391903f08ebc7e8b%3A0x47e934f4cd34790!2sFAST+NUCES!5e0!3m2!1sen!2s!4v1555166192960!5m2!1sen!2s')
    footer.footer.text-center
      .container
        ul.list-inline.mb-5
          li.list-inline-item
            a.social-link.rounded-circle.text-white.mr-3(href='https://www.facebook.com/meharfatimakhan4')
              i.icon-social-facebook
          li.list-inline-item
            a.social-link.rounded-circle.text-white.mr-3(href='https://www.instagram.com/meharfatimakhan/?hl=en')
              i.icon-social-instagram
          li.list-inline-item
            a.social-link.rounded-circle.text-white(href='https://github.com/meharfatimakhan')
              i.icon-social-github
        p.small.mb-0(style="color:white") Copyright © EduGuide 2019. All Rights Reserved.
    
    a.scroll-to-top.rounded.js-scroll-trigger(href='#page-top')
      i.fas.fa-angle-up
    
    
    script(src='/vendor/jquery/jquery.min.js')
    script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
   
    script(src='/vendor/jquery-easing/jquery.easing.min.js')
    script(src='/myJS.js')
    script(src='/js/stylish-portfolio.min.js')